.section-p1{
    
    padding: 40px,80px;
    
}


    #product1{
        text-align: center;
    }

#product1 .pro-container{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
     flex-wrap:wrap ;
    
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    

    
    }
    
    #product1 .pro:hover{
        background-color: rgb(62,62,62);
        color: white;
        cursor: pointer;
    }
    
   
    .footercontainer{
        width:auto;
        padding:70px 30px 20px;
        
    }

    .socialicons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .socialicons a{
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }

    .socialicons a i{
        font-size: 2em;
        color: black;
        opacity: 0.9;
    }
    .socialicons a:hover{
        background-color: rgb(62,62,62);
    }

    .footernav{
        margin:30px 0 ;
    }

    .footernav ul{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        list-style-type: none;

    }

    .footernav ul li a{

        color: white;
        margin: 20px;
        text-decoration:none;
        font-size: 1.3em;
        opacity: 0.7;

    }

    .footernav ul li a:hover{
        opacity:1;
    }

    
     .banner{
        background-color: bisque;

    color: rgb(62,62,62);
    margin-top: 9px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
     
.bannericons{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing:-1.6px;
    justify-content: space-between;
    margin: 0px 15px 10px;
    text-align: left;
    padding-bottom: 5px;

    
    
   
    
}

.bannericons a{
    padding-left: 40px;
    



}

.aboutsection{
    width:100%;
    min-height: 100vh;
    background-color: beige;


}

.aboutcontainer{
    width:80%;
    display:block;
    margin:auto;
    padding-top:100px;
    padding-left:40px;

}

.content-section{
    float:left;
    width:55%;

}



.content-section .title{
    text-transform: uppercase;
    font-size:28px ;
}

.content-section .content p{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;



}


.contactcontainer{
    width:80%;
    max-width:600px;
    margin:50px auto;


    padding: 20px;
    background-color:#fff;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    
}

.contactcontainer h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input,
form textarea{
    display:block;
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    background-color: bisque;
    
}




    
    